* {padding:0; margin:0}
body {
  height: 100vh;
  width: 125vw;
  margin-left: -25vw;
  transition: margin 0.2s ease-out;
  overflow: hidden;
}
.clearfix {clear: both}

body:hover {
}

/* Navigation Section */
#nav {
  height: 100vh;
  width: 25vw;
  position: relative;
  background: #01602A;
  float: left;
}
#nav ul {
  height: 100vh;
  width: 25vw;
  position: relative;
  background: transparent;
}
#nav ul li {
  height: 14vh;
  width: 25vw;
  box-sizing: border-box;
  border-bottom: 1px solid #1b7040;
  list-style: none;
  transition: background 0.4s ease;
  display: flex;
  align-items: center;
}
#nav ul li:first-of-type, #nav ul li:last-of-type {
  height: 15vh;
}
#nav ul li:last-of-type {
  border-bottom: 0px;
}
#nav ul li:hover {
  background: #009640;
  cursor: pointer;
}
#nav ul li span {
  color: #fff;
  font-family: Sansita;
  font-size: 200%;
  font-weight: 600;
  padding-left: 2.5vw;
  //text-transform: uppercase;
}


/* Main Section */
#main {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: gray;
  float: left;
  overflow: auto;
}

/* Landing Section */
#landing {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: blue;
}
#hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 105px;
  height: 105px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}
#hamburger:focus {
  outline: none;
}
#hamburger span {
  display: block;
  position: absolute;
  top: 54px;
  left: 28px;
  right: 18px;
  height: 8px;
  background: white;
  transition: background 0s 0.3s;
}
#hamburger span::before, #hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #fff;
  content: "";
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}
#hamburger span::before {
  top: -20px;
  transition-property: top, transform;
}
#hamburger span::after {
  bottom: -20px;
  transition-property: bottom, transform;
}
#hamburger.active span {
  background: none;
}
#hamburger.active span::before {
  top: 0;
  transform: rotate(45deg);
  transition-delay: 0s, 0.3s;
}
#hamburger.active span::after {
  bottom: 0;
  transform: rotate(-45deg);
  transition-delay: 0s, 0.3s;
}

/* Statements Section */
#statements {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: yellow;
}
.statementopener {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33vh;
  background: lightgreen;
  border: 1px solid white;
  transition: width 0.3s ease, height 0.3s ease, margin-top 0.3s ease;
  transition-delay: 0.2s, 0s, 0s;
}
.col-sm-12 {
  height: 34vh;
  background: white;
  border: 1px solid white;
  transition: height 0.3s ease;
}
.compressed {
  height: 20vh;
}
.expanded {
  height: 47vh;
}
.statement {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.statement h1, .lower h1 {
  font-family: Sansita;
  line-height: 100%;
}
.statement h1 {
  font-size: 350%;
  line-height: 75%;
}
.statement p {
  font-family: Raleway;
  font-size: 115%;
}
.statement.inactive {
  font-family: Sansita;
  font-size: 15vh;
  color: darkgreen;
  text-transform: capitalize;
}
.statementopener.active {
  background: #ddd;
}
.sprite {
  position: relative;
  width: 100%;
  height: 20vh;
  top: 0;
  left: 0;
  overflow: hidden;
}
.upper {
  position: relative;
  height: 20vh;
  width: 100%;
  background: url(../images/qwikcilver.png) no-repeat center;
  background-size: contain;
  transition: margin-top 0.25s ease;
  transition-delay: 0.04s;
}
.lower {
  display: flex;
  position: relative;
  height: 20vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.lower h2 {
  line-height: 250%;
}
.statementopener:hover .upper {
  margin-top: -20vh;
}
.statementopener:hover {
  cursor: pointer;
}
.seeps {
  padding: 2vh 3vw;
  background: transparent;
  border: 3px solid #009640;
  color: #009640;
  transition: color 0.2s ease-out, background 0.2s ease-in;
}
.seeps.white {
  border: 3px solid white;
  color: white;
}
.seeps:hover {
  background: #009640;
  color: #fff;
}
.seeps.white:hover {
  background: white;
  color: #000;
}
.statementpara {
  text-align: justify;
  padding-bottom: 20px;
}
.statementopener.bottom.active::before, .statementopener.top.active::after {
  content: "";
  display: block;
  position: absolute;
  top: -30px;
  left: 30px;
  height: 30px;
  width: 20px;
  border-bottom: 15px solid red;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index: 3;
}
.statementopener.top.active::after {
  border-top: 15px solid red;
  border-bottom: 0;
  top: auto;
  bottom: -30px;
}
@media all and (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}


/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: transparent;
  transition: background 0.3s ease;
}
.overlay.active {
  pointer-events: all;
  background: -webkit-radial-gradient(rgba(0,0,0,0.78), rgba(0,0,0,0.75), rgba(0,0,0,0.72), rgba(0,0,0,0.65)); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgba(0,0,0,0.78), rgba(0,0,0,0.75), rgba(0,0,0,0.72), rgba(0,0,0,0.65)); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(0,0,0,0.78), rgba(0,0,0,0.75), rgba(0,0,0,0.72), rgba(0,0,0,0.65)); /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgba(0,0,0,0.78), rgba(0,0,0,0.75), rgba(0,0,0,0.72), rgba(0,0,0,0.65)); /* Standard syntax */
}
.lightbox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background: white;
  transition: display 0.3s ease;
}
.lightbox.active {
  display: block;
  pointer-events: all;
}
.lightbox .content {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.lightbox h1 {
  font-family: Sansita;
  font-size: 450%;
  line-height: 100%;
  margin-bottom: 25px;
  color: #009640
}
.lightbox p, .lightbox ul, .lightbox li, .lightbox span {
  font-family: Raleway;
  font-size: 150%;
  text-align: justify;
  color: #009640;
  display: block;
}
.lightbox p.collapse {
  display: none;
}
.lightbox p.collapse.in {
  display: block
}
.lightbox span.close {
  position: relative;
  float: right;
  margin-right: 30px;
  margin-top: 30px;
  height: 100px;
  width: 100px;
  background: white;
  z-index: 3;
}
.lightbox span.close::before, .lightbox span.close::after {
  content: "";
  position: absolute;
  right: 30px;
  top: 50px;
  width: 50px;
  height: 8px;
  background: #009640;
  transform: rotate(-45deg);
}
.lightbox span.close::after {
  transform: rotate(45deg);
}
p.collapse {
  color: #000;
  margin-left: 10px;
}
